@import  '../styles/vars.scss';

.containerHeader {
  display: grid;
  grid-template-areas: "title mode";
  grid-template-columns: 60% 40%;
  padding: 10px 10px;
  margin-bottom: 20px;
  border-color: $borders_light;
  border-bottom: 1px solid;
  -webkit-box-shadow: 0px 0px 1px -1px $borders_light, 1px 1px 1px -1px $borders_light, 1px 1px 6px -1px $borders_light ;
  box-shadow: 0px 0px 1px -1px $borders_light, 1px 1px 1px -1px $borders_light, 1px 1px 6px -1px $borders_light ;
  &__title {
    display: flex;
    grid-area: title;
    padding-left: 8%;
    align-items: center;
    font-weight: bolder;
  }
  &__mode {
    grid-area: mode;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 5px;
  }
  &-dark{
    border-color: $borders_dark;
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: transparent;
  border: 0px;
  border-radius: 5px;
  &-dark{
    color: $background_light;
    &:hover{
      background-color: rgba(197, 192, 192, 0.203);
    }
  }
  &:hover{
    background-color: rgba(139, 130, 130, 0.203);
  }
}
